/.venv
/projeto-modelo
data/output/
data/output/lista-cnpjs-separados
data/output/Bases-separadas
data/output/bases-separadas
data/lista-cnpj.xlsx
data/output/bases-separadas/-0.xlsx
data/output/bases-separadas/-1.xlsx
data/output/bases-separadas/-2.xlsx
data/output/bases-separadas/-3.xlsx
data/output/bases-separadas/-4.xlsx
data/output/bases-separadas/-5.xlsx
data/output/bases-separadas/-6.xlsx
data/output/bases-separadas/-7.xlsx
data/output/bases-separadas/-8.xlsx
data/output/bases-separadas/-9.xlsx
data/output/bases-separadas/-10.xlsx
data/output/bases-separadas/-11.xlsx
data/output/bases-separadas/-12.xlsx
data/output/bases-separadas/-13.xlsx
data/output/bases-separadas/-14.xlsx
data/output/bases-separadas/-15.xlsx
data/output/bases-separadas/-16.xlsx
data/output/bases-separadas/-17.xlsx
data/output/bases-separadas/-18.xlsx
data/output/bases-separadas/-19.xlsx
data/output/bases-separadas/-20.xlsx
data/output/bases-separadas/-21.xlsx
data/output/bases-separadas/-22.xlsx
data/output/bases-separadas/-23.xlsx
data/output/bases-separadas/-24.xlsx
data/output/bases-separadas/-25.xlsx
data/output/bases-separadas/-26.xlsx
data/output/bases-separadas/-27.xlsx
data/output/bases-separadas/-28.xlsx
data/output/bases-separadas/-29.xlsx
data/output/bases-separadas/-30.xlsx
data/output/bases-separadas/-31.xlsx
data/output/bases-separadas/-32.xlsx
data/output/bases-separadas/-33.xlsx
data/output/bases-separadas/-34.xlsx
data/output/bases-separadas/-35.xlsx
data/output/bases-separadas/-36.xlsx
data/output/bases-separadas/-37.xlsx
data/output/bases-separadas/-38.xlsx
data/output/bases-separadas/-39.xlsx
data/output/bases-separadas/-40.xlsx
data/output/bases-separadas/-41.xlsx
data/output/bases-separadas/-42.xlsx
data/output/bases-separadas/-43.xlsx
data/output/bases-separadas/-44.xlsx
data/output/bases-separadas/-45.xlsx
data/output/bases-separadas/-46.xlsx
data/output/bases-separadas/-47.xlsx
data/output/bases-separadas/-48.xlsx
data/output/bases-separadas/-49.xlsx
data/output/bases-separadas/-50.xlsx
data/output/bases-separadas/-51.xlsx
data/output/bases-separadas/-52.xlsx
data/output/bases-separadas/-53.xlsx
data/output/bases-separadas/-54.xlsx
data/output/bases-separadas/-55.xlsx
data/output/bases-separadas/-56.xlsx
data/lista-cnpj.xlsx
data/output/bases-separadas/-0.xlsx
data/output/bases-separadas/-1.xlsx
data/output/bases-separadas/-2.xlsx
data/output/bases-separadas/-3.xlsx
data/output/bases-separadas/-4.xlsx
data/output/bases-separadas/-5.xlsx
data/output/bases-separadas/-6.xlsx
data/output/bases-separadas/-7.xlsx
data/output/bases-separadas/-8.xlsx
data/output/bases-separadas/-9.xlsx
data/output/bases-separadas/-10.xlsx
data/output/bases-separadas/-11.xlsx
data/output/bases-separadas/-12.xlsx
data/output/bases-separadas/-13.xlsx
data/output/bases-separadas/-14.xlsx
data/output/bases-separadas/-15.xlsx
data/output/bases-separadas/-16.xlsx
data/output/bases-separadas/-17.xlsx
data/output/bases-separadas/-18.xlsx
data/output/bases-separadas/-19.xlsx
data/output/bases-separadas/-20.xlsx
data/output/bases-separadas/-21.xlsx
data/output/bases-separadas/-22.xlsx
data/output/bases-separadas/-23.xlsx
data/output/bases-separadas/-24.xlsx
data/output/bases-separadas/-25.xlsx
data/output/bases-separadas/-26.xlsx
data/output/bases-separadas/-27.xlsx
data/output/bases-separadas/-28.xlsx
data/output/bases-separadas/-29.xlsx
data/output/bases-separadas/-30.xlsx
data/output/bases-separadas/-31.xlsx
data/output/bases-separadas/-32.xlsx
data/output/bases-separadas/-33.xlsx
data/output/bases-separadas/-34.xlsx
data/output/bases-separadas/-35.xlsx
data/output/bases-separadas/-36.xlsx
data/output/bases-separadas/-37.xlsx
data/output/bases-separadas/-38.xlsx
data/output/bases-separadas/-39.xlsx
data/output/bases-separadas/-40.xlsx
data/output/bases-separadas/-41.xlsx
data/output/bases-separadas/-42.xlsx
data/output/bases-separadas/-43.xlsx
data/output/bases-separadas/-44.xlsx
data/output/bases-separadas/-45.xlsx
data/output/bases-separadas/-46.xlsx
data/output/bases-separadas/-47.xlsx
data/output/bases-separadas/-48.xlsx
data/output/bases-separadas/-49.xlsx
data/output/bases-separadas/-50.xlsx
data/output/bases-separadas/-51.xlsx
data/output/bases-separadas/-52.xlsx
data/output/bases-separadas/-53.xlsx
data/output/bases-separadas/-54.xlsx
data/output/bases-separadas/-55.xlsx
data/output/bases-separadas/-56.xlsx
